.container {
  border: 2px solid rgba(1, 1, 1, 0.548);
  border-radius: 10px;
  box-shadow: 0px 0px 50px 20px rgba(100, 32, 109, 0.584);
  text-align: center;
  padding: 5px;
  background-color: rgb(68, 144, 119);
  max-width: 400px;
  margin: 20px;
}
.list-group-item {
  background-color: rgba(65, 108, 152, 0.416);
  font-weight: 500;
  color: black;
}
.container:hover {
  transition: 1s;
  box-shadow: 0px 0px 50px 40px rgba(100, 32, 109, 0.584);
}
.btn {
  float: right;
}
.pera {
  display: inline;
  float: left;
}
.input {
  margin-top: 5px;
  margin-bottom: 8px;
  border: 2px solid black;
}
